h1 {
    color: rgb(116, 122, 197);
    font-family: 'Playfair Display', serif;
}

.text-color {
    color: aqua;
    font-family: 'Playfair Display', serif;
}
 .css-box-model {
    border-color: blue;
    text-decoration: none;
    color: cadetblue;
font-family: 'Dancing Script', cursive;     
}
.coutainer {
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
}
.image {
    flex-grow: 4;
}
.text-color{
    flex-grow: 1;
}