h1 {
    color: rgb(116, 122, 197);
    font-family: 'Playfair Display', serif;
}

.text-color {
    color: aqua;
    font-family: 'Playfair Display', serif;
}
 .css-box-model {
    border-color: blue;
    text-decoration: none;
    color: cadetblue;
font-family: 'Dancing Script', cursive;     
}
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.image {}

.text-color {
    width: 300px;
}
.text-color{
    flex-grow: 1;
    font-family: 'Dancing Script', cursive;
}

.css-box-model {
    border-color: rgb(13, 72, 131);
    text-decoration: none;
    color: #fff;
}