h1 {
    color: rgb(116, 122, 197);
    font-family: 'Caveat', cursive;
}

.text-color {
    color: aqua;
    font-family: 'Dancing Script', cursive;
}



.css-box-model {
    border-color: rgb(13, 72, 131);
    text-decoration: none;
    color: #fff;
}